Flask==2.2.3
Werkzeug==2.2.2
dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.14.1
python-Levenshtein==0.20.9
Levenshtein==0.20.9
pandas==1.5.3